/* Baseline */
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");
/* 
    font-family: 'Source Code Pro', monospace; 
*/

/* Title */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
/* 
    font-family: 'Bebas Neue', cursive;
*/

/* Paragraph */
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap");
/* 
    font-family: 'Kanit', sans-serif;
*/

/* Signature */
@import url("https://fonts.googleapis.com/css2?family=Oooh+Baby&display=swap");
/* 
    font-family: 'Oooh Baby', cursive;
*/
