.Main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0 10px 0;
}

.Image {
  width: 30vh;
}

.Buttons {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 50%;
}
.Button {
  all: unset;

  background-color: #55bdca;
  color: #ffffff;
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.75);

  margin: 20px 20px 0 20px;
  padding: 0px 10px;

  border-radius: 10px;
  border: none;

  transition: transform 200ms ease-in-out;
  cursor: pointer;

  text-align: center;
  vertical-align: middle;
}

.Button:hover {
  transform: scale(1.1) translateY(-3px);
}
