html {
  background-color: #3e2e14;
  color: #372607;
  font-family: "Source Code Pro", monospace;
}

body {
  margin: 0;
  padding: 0;
  background-image: url("../assets/background.jpg");
  background-repeat: no-repeat;
  background-size: 3840px 2160px;
  background-position: -400px 0;
}

@media (max-width: 960px) {
  body {
    margin: 0;
    padding: 0;
    background-image: url("../assets/background.jpg");
    background-repeat: no-repeat;
    background-size: 4224px 2376px;
    background-position: center 0;
  }
}
