.Main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0 100px 0;
}

a {
  text-decoration: none;
  color: #9d8b34;
  text-decoration: underline;
}

.Content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Warning {
  padding: 10px;
  background-color: #484e30;
  color: #372607;
  border-radius: 20px;
  margin: 0 0 30px 0;
}

.Warning > h3 {
  font-size: 15px;
}

.Content_Title {
  font-family: "Bebas Neue", cursive;
  font-size: 2.5rem;
  color: #d8a477;
}

.Content_Paragraph_Parent {
  background-color: #484e30;
  color: #e9e4d6;
  border-radius: 20px;
  max-width: 25%;
  padding: 20px;
}

.Content_Paragraph {
  text-align: center;
  font-family: "Kanit", sans-serif;
  font-size: 1.3rem;
}

.Signature {
  font-size: 2.5rem;
  font-family: "Oooh Baby", cursive;
}

/* If device width is smaller than 500px change css */

@media screen and (max-width: 700px) {
  .Main {
    padding: 50px 0 100px 0;
  }

  .Content {
    max-width: 80%;
  }

  .Content_Title {
    font-size: 2rem;
  }

  .Content_Paragraph_Parent {
    max-width: 100%;
    padding: 20px;
  }

  .Content_Paragraph {
    font-size: 1.1rem;
  }

  .Signature {
    font-size: 2rem;
  }
}
